body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.navigation {
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: gray;
    padding-bottom: 15px; 
    list-style: none; 
}
.navigation li{
    display:inline-block;
    padding-left:70px;
    margin-right: 10px;
}
.navimage{
    width: 30px;
    height: auto;
    display: inline-block;
    
}
.navimage img{
    width: 100%;
    height: auto;
    

}
.navlist{
    text-decoration: none;
    display: inline-block;
    margin-left: 800px;
    color: white;
}
.navlist a{
    color: white;
    text-decoration: none;
}


.products-container {
    margin-top: 70px; 
    text-align: center;
}
.product-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 30px;
    height: 310px;
    width: 300px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    
}
.linkproduct {
    color: black;
}
.linkproduct :hover{
    background-color: lightsteelblue
}

footer {
    margin-top: 40px;
    background: #a258a5;
    color: white;
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
}