body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('img/1.jpg');
    background-size: repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    background-color: lightgray;
    border-radius: 45px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}


.input-group {
    margin: 25px 0;
}
.icon {
    margin-bottom: 25px;
}

.input-group input {
    width: 250px;
    outline: 0; 
    border: 0;
    background-color: lightgray;
    border-bottom: 3px solid #000000;
    font-size: 16px;
}

.input-group input:hover {
    border-bottom: 3px solid gray;
}

.btn {
    width: 120px;
    padding: 10px;
    background-color: plum;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: purple;
}
